.dashboard-page {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px
}

@media (max-width: 768px) {
  .dashboard-info {
    flex-direction: column;
  }
}