.fecha-hora-container{
    background: #1f1e1ec0;
    color: rgb(255, 255, 255);
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    
}