.fecha-hora-container{

    bottom: 20px;
    right: 30px;

    background: #c2c5cc;
    color: rgb(0, 0, 0);

    padding: 12px 18px;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 600;

    box-shadow: 0 4px 10px rgb(0,0,0,0.2);
}