:root{
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body,
#root {
 width: 100%;
 min-width: 100vh;
 margin: 0;
 background: #3a3a3a;
}

*{
  box-sizing: border-box;
}

